{{ define "main" }}

  <div class="wrapper">

    <div class="three-column-layout">

      <aside class="sidebar" data-position="left">
      </aside>

      <div class="primary-area">

        <div class="content-container">
          <article class="content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
          </article>
        </div>

      </div>

      <aside class="sidebar" data-position="right">
      </aside>

    </div>

  </div>

{{ end }}
