{{ define "main" }}

  <div class="wrapper">

    <div class="primary-area">

      {{ $projects := .RegularPages }}

      {{ $categories := slice }}

      {{ range $projects }}
        {{ range .Params.categories }}
          {{ $categories = $categories | append . }}
        {{ end }}
      {{ end }}

      {{ $categories = $categories | uniq | sort }}

      {{ range $categories }}

        {{ $cat := . }}

      <div class="projects-section collection">

        <div class="collection-header">
          <h2 class="collection-title">{{ $cat }}</h2>
        </div>

        <ul class="projects-list">

        {{ range $projects }}

          {{ if in .Params.categories $cat }}

          <li>
            <div class="projects-item card">
              <a class="projects-link" href="{{ .RelPermalink }}">
                <div class="projects-featured">
                  {{ partial "utils/get-featured.html" . }}
                </div>
                <div class="projects-pro">
                  <h3 class="projects-title">{{ .Title }}</h3>
                  <p class="projects-desc">{{ .Description | default "There is no description." }}</p>
                </div>
              </a>
            </div>
          </li>

          {{ end }}

        {{ end }}

        </ul>

      </div>

      {{ end }}

    </div>

  </div>

{{ end }}
