{{ define "main" }}

  <div class="wrapper">

    <div class="one-column-layout">

      {{ $groups := dict }}

      {{ range .Pages }}

        {{ $categories := .Params.categories | default (slice "misc") }}

        {{ $existing := index $groups $categories | default (slice) }}

        {{ $groups = merge $groups (dict $categories ($existing | append .)) }}

      {{ end }}

      {{ range $categories, $pages := $groups }}

      <div class="projects-section collection">

        <div class="collection-header">
          <span class="collection-title">{{ $categories }}</span>
        </div>

        <ul class="projects-list">
        {{ range $pages }}
          <li>
            <div class="projects-item card">
              <div class="projects-info">
                <h2 class="projects-title">{{ .Title }}</h2>
                <p class="projects-desc">{{ .Description | default "Description: -" }}</p>
                <a href="{{ .RelPermalink }}" class="projects-link">View Project</a>
              </div>
              <div class="projects-featured">
                {{ partial "utils/get-featured.html" . }}
              </div>
            </div>
          </li>
        {{ end }}
        </ul>

      </div>

      {{ end }}

    </div>

  </div>

{{ end }}
