<div class="wrapper">

  <div class="three-column-layout">

    <aside class="sidebar" data-position="left">

      <nav class="docs-nav">
        <div class="docs-nav-header">
          <div class="docs-buttons">
            <button>{{ partial "utils/icon.html" "search" }}</button>
            <button>{{ partial "utils/icon.html" "copy-plus" }}</button>
            <button>{{ partial "utils/icon.html" "copy-minus" }}</button>
          </div>
        </div>
        <details open class="docs-tree">
          <summary class="docs-item docs-foler">
            <a class="docs-link {{ if eq .RelPermalink .FirstSection.RelPermalink }}active{{ end }}"
              href="{{ .FirstSection.RelPermalink }}">
              {{ partial "utils/icon.html" "notebook" }}{{ .FirstSection.Title }}
            </a>
          </summary>
          {{ template "docs-recursive" (dict "context" .FirstSection "current" . ) }}
        </details>
      </nav>

    </aside>

    {{ define "docs-recursive" }}

      {{ $context := .context }}
      {{ $current := .current }}

      <ul>
        {{ range $context.Sections.ByLinkTitle }}
          <li>
            <details {{ if .IsAncestor $current }}open{{ end }}>
              <summary class="docs-item docs-folder {{ if eq .RelPermalink $current.RelPermalink }}active{{ end }}">
                {{ partial "utils/icon.html" "folder" }}
                {{ partial "utils/icon.html" "folder-open" }}
                <span>{{ partial "utils/auto-linktitle.html" . }}</span>
              </summary>
              {{ template "docs-recursive" (dict "context" . "current" $current) }}
            </details>
          </li>
        {{ end }}
        {{ range $context.RegularPages.ByLinkTitle }}
          <li class="docs-item docs-file">
            <a class="docs-link {{ if eq .RelPermalink $current.RelPermalink }}active{{ end }}"
              href="{{ .RelPermalink }}">
              {{ partial "utils/icon.html" "file" }}
              <span>{{ partial "utils/auto-linktitle.html" . }}</span>
            </a>
          </li>
        {{ end }}
      </ul>

    {{ end }}

    <div class="primary-area">

      <!-- {{ partial "breadcrumbs.html" . }} -->

      <article class="content">
        <div class="docs-date-container">
          Last updated: {{ partial "utils/date-format.html" (dict "date" .Lastmod "layout" ":date_long") }}
          Publish date: {{ partial "utils/date-format.html" (dict "date" .PublishDate "layout" ":date_long") }}
        </div>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </article>

    </div>

    <aside class="sidebar" data-position="right">
      {{ partial "toc.html" . }}
    </aside>

  </div>

  <div class="fixed-bottom-bar">
    <button class="sidebar-toggle" data-target="left">{{ partial "utils/icon.html" "layout-sidebar-left-expand" }}</button>
    <button class="sidebar-toggle" data-target="right">{{ partial "utils/icon.html" "list-tree" }}</button>
  </div>

  <div class="sidebar-overlay"></div>

</div>
