{{ $page := . }}

{{ $count := $page.Resources.ByType "image" | len }}
{{ if gt $count 9 }}
  {{ warnf "Too many images (%d) in %s, only first 9 will be used" $count $page.File.Path }}
  {{ $count = 9 }}
{{ end }}
{{ $folderName := $page.File.ContentBaseName }}
{{ $folderName }} 

<div class="sudoku sudoku-{{ $count }}">

  {{ range $i := seq 1 $count }}

    {{ $index := printf "%02d" $i }}
    {{ $imageName := printf "*%s_%s*" $folderName $index }}

    {{ with $page.Resources.GetMatch $imageName }}

      {{ $thumb := .Filter (slice images.AutoOrient (images.Process "resize x300 webp")) }}
      <img src="{{ $thumb.RelPermalink }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" alt="" loading="lazy" decoding="async" data-viewer-src="{{ .RelPermalink }}"/>

    {{ else }}



    {{ end }}

  {{ end }}

</div>
