<div class="wrapper topbar">
  <div class="topbar-left" data-navigation aria-expanded="false">
    <div class="topbar-avatar">
      {{ with resources.Get site.Params.profile.avatar }}
        {{ $thumb := .Fill "70x70 center" }}
        <img src="{{ $thumb.RelPermalink }}" alt="avatar">
      {{ else }}
        <img src="">
      {{ end }}
    </div>
    <div class="segment-row">
      <div class="segment topbar-location">
        {{ if not .IsHome }}
          <nav class="back-nav">
            {{ with .Parent }}
              <a href="{{ .RelPermalink }}" class="back-link">Back</a>
            {{ else }}
              <!-- 兜底：如果某页面没有明确的父级目录，直接指向顶层首页 -->
              <a href="{{ site.Home.RelPermalink }}" class="back-link">Home</a>
            {{ end }}
          </nav>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="topbar-right hidden">
    {{ partial "share.html" . }}
  </div>
</div>
