<div class="reading-bar" aria-hidden="true">
  <div class="wrapper">
    <div class="reading-bar-content">
    <span class="reading-bar-title">{{ .Title }}</span>
    <button class="share-button" type="button" data-share-open>{{ partial "utils/icon.html" "share" }}</button>
    <button class="sidebar-toggle sidebar-toggle-reading" data-target="right" type="button" aria-label="Open table of contents" aria-expanded="false">
      {{ partial "utils/icon.html" "list-tree" }}
    </button>
    </div>
  </div>
</div>

<dialog class="share-dialog" data-share-dialog>
  <div class="share-dialog-inner">

    <div class="share-dialog-header">
      <span>Share this page</span>

      <button
        class="share-dialog-close"
        type="button"
        aria-label="Close"
        data-share-close
      >
        {{ partial "utils/icon.html" "x" }}
      </button>
    </div>

    <div class="share-platforms">

      <a
        class="share-platform"
        data-platform="x"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ partial "utils/icon.html" "brand-x" }}
        <span>X</span>
      </a>

    </div>

  </div>
</dialog>
