<button class="share-fab" type="button" data-share-open>{{ partial "utils/icon.html" "share" }}<span>Share</span></button>

<dialog class="share-dialog" data-share-dialog>
  <div class="share-dialog-inner">

    <div class="share-dialog-header">
      <span>Share</span>

      <button
        class="share-dialog-close"
        type="button"
        aria-label="Close"
        data-share-close
      >
        {{ partial "utils/icon.html" "x" }}
      </button>
    </div>

    <div class="share-platforms">

      <a
        class="share-platform"
        data-platform="x"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ partial "utils/icon.html" "brand-x" }}
        <span>X</span>
      </a>

      <a
        class="share-platform"
        data-platform="bilibili"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ partial "utils/icon.html" "brand-bilibili" }}
        <span>Bilibili</span>
      </a>

    </div>

  </div>
</dialog>
