{{ $page := .Page }}
{{ $count := 9 }}
{{ $fileName := $page.File.BaseFileName }}
{{ $media := slice }}

{{ if gt $count 0 }}

  <div class="sudoku sudoku-{{ $count }}">
  {{ range $i := seq 1 $count }}
    {{ $index := printf "%02d" $i }}
    {{ $mediaName := printf "ephemera/%s-%s.jpg" $fileName $index }}
    {{ with $mediaName }}
      <img src="{{ $mediaName | relURL }}" width="400px" height="400px" alt="">
    {{ else }}
      <span>{{ $index }}</span>
    {{ end }}
  {{ end }}
  </div>

{{ end }}
