{{ define "main" }}

  {{ $images := .Resources.ByType "image" }}

  <div class="wrapper">

    <aside class="sidebar-left">
    </aside>

    <div class="middle-container">
      <article class="ephemera-single">
        <div class="ephemera-body{{ if gt (len $images) 0 }} has-media{{ end }}">
          {{ .Summary }}
          {{ partial "ephemera-media.html" . }}
          <div class="ephemera-copy">
            {{ .ContentWithoutSummary }}
          </div>
        </div>
      </article>
    </div>

    <aside class="sidebar-right">
    </aside>

  </div>

{{ end }}
