{{ define "main" }}

  <div class="wrapper">

    <aside class="sidebar-left">
    </aside>

    <div class="middle-container">
      <article class="content">
        <div class="ephemera-summary">
          {{ $images := sort (.Page.Resources.ByType "image") "Name" }}
          {{ if gt (len $images) 0 }}
            {{ range $images }}
              <img src="{{ .RelPermalink }}" alt="" loading="lazy" decoding="async">
            {{ end }}
          {{ end }}
        </div>
        <div class="ephemera-content">
          {{ .ContentWithoutSummary }}
        </div>
      </article>
    </div>

    <aside class="sidebar-right">
    </aside>

  </div>

{{ end }}
