{{ define "main" }}

  <div class="wrapper gallery">

    <h1>{{ .Title }}</h1>

    <div class="albums-list">
      {{ range .Pages }}
        <a class="albums-card" href="{{ .RelPermalink }}" title="{{ .Title }}">

          <div class="albums-card-cover">
            {{ with .Resources.GetMatch .Params.cover }}
              {{ $cover := .Filter (slice images.AutoOrient (images.Process "fit 400x400 webp")) }}
              <img
                src="{{  $cover.RelPermalink }}"
                alt="{{ .Title }}"
                loading="lazy"
              >
            {{ end }}
          </div>



          <div class="albums-card-pro">
            <h3>{{ .Title }}</h3>

            {{ with .Description }}
              <p>{{ . }}</p>
            {{ end }}

            {{ with .Date }}
              <span>{{ .Format "2006" }}</span>
            {{ end }}

            <span>count</span>

          </div>
        </a>
      {{ end }}
    </div>

  </div>

{{ end }}
