.docs-wrapper {
  flex: 1;
  display: flex;
}

.docs-sidebar {
  width: 296px;
  flex-shrink: 0;

  position: sticky;
  top: 0;
  z-index: 99;
  height: 100dvh;

  padding-top: var(--topbar-height);

  background-color: #fff;
  border-right: 1px solid #000;

  transition: transform 0.3s ease-in-out;
}

.docs-main {
  flex: 1;
  min-width: 0;
}

.docs-topbar {
  position: sticky;
  top: 0;
  z-index: 99;

  height: var(--topbar-height);

  padding: 0 var(--edge-gap);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.docs-topbar-left {

}

.docs-topbar-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.docs-reading {
  display: flex;
  padding: 40px var(--edge-gap);
  gap: var(--edge-gap);
}

.docs-reading-aside {
  width: calc(296px - var(--edge-gap));
  flex-shrink: 0;

  position: sticky;
  top: var(--topbar-height);
  height: calc(100dvh - var(--topbar-height));

  display: flex;
  flex-direction: column;
}

.meta-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.2rem 1rem;
  color: var(--text-color-secondary);
}

.docs-nav {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  font-size: var(--text-size-sm);
}

.docs-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.docs-search {
  padding: 0 16px;
  margin-bottom: 8px;
  display: flex;
}

.docs-search-input {
  width: 100%;
}

.docs-header {
  position: relative;
}

.docs-buttons {
  position: absolute;
  top: 0;
  right: 16px;
  display: flex;
}

.docs-buttons button:hover {
  color: #f00;
}

.docs-tree {
  overflow-y: auto;
}

.docs-tree details > summary {
  list-style: none;
}

.docs-nav svg {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.docs-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  gap: 4px;
  padding: 1px 0 1px calc(var(--depth, 0) * 1rem + 16px);
}

.docs-link {
  text-decoration: none;
  color: inherit;
}

.docs-item:hover {
  background: var(--accent-color);
}

.docs-item.active {
  background: #359aff;
}

.docs-tree .icon-tabler-folder-open {
  display: none;
}

.docs-tree details[open] > summary .icon-tabler-folder {
  display: none;
}

.docs-tree details[open] > summary .icon-tabler-folder-open {
  display: block;
}

.docs-tree details[open] > ul {
  position: relative;
}

.docs-tree details[open] > ul::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid #000;
  margin-left: calc((var(--depth, 0) - 1) * 1rem + 16px + 4px);
  z-index: 2;
}
/* breadcrumbs */
.breadcrumbs-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 6px 0;
  padding: 0;
  font-size: 14px;
}

.breadcrumbs-list li {
  display: flex;
  color: #555;
}

.breadcrumbs-list a {
  text-decoration: none;
  color: #0073e6;
  transition: color 0.2s;
}

.breadcrumbs-list a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

.breadcrumbs-list li:not(:last-child)::after {
  content: "›";
  margin: 0 4px;
  font-size: 24px;
  line-height: 14px;
}

.docs-sidebar-toggle {
  display: none; 
}

.docs-aside-toggle {
  display: none; 
}

@media (max-width: 1280px) {

  .docs-reading-aside {
    display: none;
    position: fixed;
    top: calc(var(--topbar-height) + 12px);
    right: var(--edge-gap);
    background: #ffffff;
    border-radius: 12px;
    border: 1px solid #ebebeb;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    max-height: calc(100dvh - var(--topbar-height) - 12px - 24px);
    overflow-y: auto;
    animation: fadeIn 0.2s ease-out;
  }

  .docs-aside-toggle {
    display: flex;
    padding: 4px;
    border-radius: 6px;
  }

  .docs-aside-toggle:hover {
    background: #eee;
  }

  .docs-reading-aside.active {
    display: flex;
  }

}

@media (max-width: 768px) {

  .docs-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    box-shadow: 4px 0 10px rgba(0,0,0,0.1);
  }

  .docs-sidebar.is-active {
    transform: translateX(0);
  }

  .docs-sidebar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 30px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 101; /* 确保按钮在最上层 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.2s;
  }

  .docs-sidebar-toggle:active {
    background-color: #333;
  }

}