.gallery .primary-area {
  width: 100%;
}
/* section */
.albums-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.albums-card {
  display: block;
  color: inherit;
  text-decoration: none;
}

.albums-card-cover {
  aspect-ratio: 3/2;
  background: #ddd;
}

.albums-card img {
  object-fit: cover;
  object-position: center;
}

.albums-card-pro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.albums-card-pro h3 {
  margin: 0;
}
/* page */
.masonry {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: start;
}

.item {
  margin: 0;
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}
