.gallery .primary-area {
  width: 100%;
}
/* section */
.albums-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
}

.albums-card {
  /* min-width: 0; */
  display: block;
  color: inherit;
  text-decoration: none;
}

.albums-card-cover {
  aspect-ratio: 3 / 2;
  background: #ddd;
  overflow: hidden;
}

.albums-card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.albums-card-pro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.albums-card-pro h3 {
  margin: 0;
}
/* page */
.gallery .fj-gallery {
  --fj-gutter: 4;
  --fj-row-height: 180;
}
/* fj-gallery */
figure.fj-gallery-item {
  margin: 0;
}

.fj-gallery {
  position: relative;
  overflow: hidden;
}

.fj-gallery::after {
  content: "";
  display: block;
  clear: both;
}

.fj-gallery .fj-gallery-item {
  float: left;
  top: 0;
  left: 0;
}

.fj-gallery .fj-gallery-item > img {
  display: block;
  width: 100%;
  height: auto;
}
