.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.profile .avatar {
  width: 200px;
  height: 200px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
  row-gap: 8px;
  justify-content: center;
}

.social-list a {
  text-decoration: none;
  color: inherit;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
}

.updates-card a {
  text-decoration: none;
  color: inherit;
}

.updates-card a:hover{
  text-decoration: underline;
  color: var(--accent-color);
}
