{{ define "main" }}

  {{ partial "share-dialog.html" . }}

  <div class="wrapper posts three-column-layout">

    <aside class="sidebar hide-below-1280" data-position="left">
    </aside>

    <div class="primary-area">

      <div class="toolbar sticky-top show-below-1024">
        <div class="bar">
          <div class="bar-right">
            <button class="share-button" data-share-open>{{ partial "utils/icon.html" "share" }}</button>
            <button class="sidebar-toggle" data-target="right">{{ partial "utils/icon.html" "list-tree" }}</button>
          </div>
        </div>
      </div>

      <article class="content">
        <div class="meta-container">
          <div class="entry-tags">
            {{- range .Params.tags -}}
              <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
            {{- end -}}
          </div>
          <span>{{ partial "utils/date-format.html" (dict "date" .Date "layout" "posts-page") }}</span>
        </div>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </article>

    </div>

    <aside class="sidebar hide-below-1024" data-position="right">
      <div class="bar">
        <button class="share-button" data-share-open>{{ partial "utils/icon.html" "share" }}</button>
      </div>
      {{ partial "toc.html" . }}
    </aside>

  </div>

{{ end }}
