{{ define "main" }}

  <div class="wrapper">

    <aside class="sidebar-left">
      <h1><a href="{{ .FirstSection.RelPermalink }}#{{ .LinkTitle  }}">くBack</a></h1>
      <p></p>
      <span class="posts-date-year">{{ .Date.Format "2006" }}</span>
      <span class="posts-date-month">{{ .Date.Format "January" }}</span>
      <span class="posts-date-day">{{ .Date.Format "02" }}</span>
    </aside>

    <div class="middle-container">

      <div class="page-featured">
        {{ with .Resources.Get .Params.featured }}
          <img src="{{ .RelPermalink }}" alt="featured-img">
        {{ end }}
      </div>

      <article class="content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </article>

    <div class="sticky-bottom-bar">
      <button class="toggle-left">{{ partial "utils/icon.html" "layout-sidebar-left-expand"}}</button>
      <button class="toggle-right">{{ partial "utils/icon.html" "list-tree"}}</button>
    </div>

    </div>

    <aside class="sidebar-right">
      {{ partial "toc.html" . }}
    </aside>

  </div>

{{ end }}
