{{ define "main" }}

  <div class="wrapper">

    <aside class="sidebar-left">
      <h2><a href="{{ .FirstSection.RelPermalink }}">All posts</a></h2>
      <h3><a href="{{ .CurrentSection.RelPermalink }}"><span class="posts-date-year">{{ .Date.Format "2006" }}</span></h3></a>
      <time class="posts-date narrow" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" aria-label="{{ .Date.Format "2006-01-02" }}">
        <span class="posts-date-month">{{ .Date.Format "January" }}</span>
        <span class="posts-date-day">{{ .Date.Format "02" }}</span>
      </time>
    </aside>

    <div class="middle-container">

      <div class="page-featured">
        {{ with .Resources.Get .Params.featured }}
          <img src="{{ .RelPermalink }}" alt="featured-img">
        {{ end }}
      </div>

      <article class="content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </article>

    <div class="sticky-bottom-bar">
      <button class="toggle-left">{{ partial "utils/icon.html" "layout-sidebar-left-expand"}}</button>
      <button class="toggle-right">{{ partial "utils/icon.html" "list-tree"}}</button>
    </div>

    </div>

    <aside class="sidebar-right">
      {{ partial "toc.html" . }}
    </aside>

  </div>

{{ end }}
