{{ define "main" }}

  <div class="wrapper">

    <aside class="sidebar-left">
    </aside>

    <div class="middle-container">
    {{ $posts := where site.RegularPages "Section" .Section }}
    {{ range $posts.GroupByDate "2006" }}
    <div class="posts-year-section">

      <div class="posts-year-section-header">
        <span class="year-number">{{ .Key }}</span>
        <span class="year-count">
          <span style="font-size: 1.5rem;">x</span> {{ .Pages.Len }}
        </span>
      </div>

      <ul class="posts-year-list">
        {{ range .Pages }}
        <li class="posts-item">
          <span class="posts-date">{{ .Date.Format "Jan-02" }}</span>
          <a href="{{ .RelPermalink }}" class="posts-title">{{ .LinkTitle }}</a>
        </li>
        {{ end }}
      </ul>

    </div>
    {{ end }}
    </div>

    <aside class="sidebar-right">
    </aside>

  </div>

{{ end }}
