{{ define "main" }}

  <div class="wrapper posts">

    <div class="three-column-layout">

      {{ $posts := .RegularPagesRecursive }}

      <aside class="sidebar" data-position="left">
        <div class="posts-years-list">
          <button class="posts-filter year active" data-filter="all"> All #{{ $posts.Len }}</button>
          {{ range $posts.GroupByDate "2006" }}
          <button class="posts-filter year" data-filter="{{ .Key }}">{{ .Key }} #{{ .Pages.Len }}</button>
          {{ end }}
        </div>
      </aside>

      <div class="primary-area">
        {{ range $posts.GroupByDate "2006" }}
        <div class="collection-group" data-year="{{ .Key }}">

          <div class="collection-group-header">
            <h2 class="collection-group-title">{{ .Key }}</h2>
          </div>

          <ul class="collection-item-list">
            {{ range .Pages }}
            <li class="collection-item card" data-tags="{{ delimit .Params.tags "," }}">
              <time class="collection-date" datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" aria-label="{{ .Date.Format "2006-01-02" }}">
                <span class="collection-date-month">{{ .Date.Format "Jan" }}</span>
                <span class="collection-date-day">{{ .Date.Format "02" }}</span>
              </time>
              <div class="collection-body">
                <div class="collection-main">
                  <div class="collection-featured">
                    {{ partial "utils/get-featured.html" . }}
                  </div>
                  <div class="collection-pro">
                    <a class="collection-title" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    <div class="collection-summary">{{ .Summary | plainify }}</div>
                  </div>
                </div>
                {{ with .GetTerms "tags" }}
                <div class="collection-tags" aria-label="tags">
                  {{ range . }}
                    <a class="collection-tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                  {{ end }}
                </div>
                {{ end }}
              </div>
            </li>
            {{ end }}
          </ul>

        </div>
        {{ end }}
      </div>

      <aside class="sidebar" data-position="right">
        <div class="posts-tags-list">
          <div><span>Tags: </span><button id="tagsCleaner">{{ partial "utils/icon.html" "x" }}Clear</button></div>
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <button class="posts-filter tag" data-filter="{{ $name }}">{{ $name }}</button>
          {{ end }}
        </div>
      </aside>

    </div>

    <div class="fixed-bottom-bar">
      <button class="sidebar-toggle" data-target="left">{{ partial "utils/icon.html" "layout-sidebar-left-expand" }}</button>
      <button class="sidebar-toggle" data-target="right">{{ partial "utils/icon.html" "list-tree" }}</button>
    </div>

    <div class="sidebar-overlay"></div>

  </div>

{{ end }}
