{{ $page := .Page }}
{{ $folderName := $page | path.Dir | path.BaseName }}

{{ $videoName := printf "%s-%s" $folderName "video.mp4" }}
{{ $thumbName := printf "%s-%s" $folderName "video-thumb.png" }}

{{ $video := $page.Resources.Get $videoName }}
{{ $thumb := $page.Resources.Get $thumbName }}

{{ $videoURL := "" }}
{{ $thumbURL := "" }}

{{ if $video }}
  {{ $videoURL := $video.RelPermalink }}
{{ end }}
{{ if $thumb }}
  {{ $thumbURL := $thumb.RelPermalink }}
{{ end }}

<div class="video-card" onclick="openVideoModal('{{ $videoURL }}')">
  <img src="{{ $thumbURL }}" class="video-thumb" />
  <div class="play-btn">&#9658;</div>
</div>
