{{ define "main" }}

  <div class="one-column-layout">

    {{ $sections := slice }}

    {{ range .Sections }}
      {{ $weight := .Params.weight | default 1 }}
      {{ $sections = $sections | append (dict "section" . "weight" $weight) }}
    {{ end }}

    <ul class="things-list">
      {{ range sort $sections "weight" }}
      {{ $section := .section }}
      <li>
        <a class="things-link-title" href="{{ $section.RelPermalink }}">{{ $section.Title }}<span class="arrow">&rsaquo;</span></a>
        {{ partial "things-cards.html" (dict "pages" $section.Pages) }}
      </li>
      {{ end }}
    </ul>

  </div>

{{ end }}
