{{ define "main" }}

  <div class="one-column-layout">

    {{ $sections := slice }}

    {{ range .Sections }}
      {{ $weight := .Params.weight | default 1 }}
      {{ $sections = $sections | append (dict "section" . "weight" $weight) }}
    {{ end }}

    <section class="things-collection">

      {{ range sort $sections "weight" }}
      {{ $section := .section }}

        <div class="collection-header">
          <a class="collection-title" href="{{ $section.RelPermalink }}">{{ $section.Title }}</a>
        </div>

        {{ $pages := $section.Pages }}
        {{ $pages = sort $pages ".Params.start" "desc" }}

        <ul class="things-list">

        {{ range $pages }}

          {{ $page := . }}

          <li>
            <a class="things-item" href="{{ .RelPermalink }}" title="{{ .Title }}">

              {{ with $page.Params.start }}
              <div class="things-meta">

                {{ $start := time.AsTime (printf "%s-01" .) | time.Format "2006/01" }}

                {{ $end := "present" }}

                {{ with $page.Params.end }}
                  {{ $end = (time.AsTime (printf "%s-01" .)).Format "2006/01" }}
                {{ end }}

                {{ $start }} - {{ $end }}

              </div>
              {{ end }}

              <div class="things-image">
                {{ with .Resources.GetMatch .Params.image }}
                  {{ $img := .Resize "200x webp q80" }}
                  <img src="{{ $img.RelPermalink }}" alt="{{ $.Title }}">
                {{ end }}
              </div>

              <div class="things-title">
                {{ .LinkTitle }}
              </div>

            </a>
          </li>

        {{ end }}

        </ul>
      {{ end }}
    </section>
  </div>

{{ end }}
