{{ define "main" }}

  <div class="wrapper">

    <aside class="sidebar-left">
    </aside>

    <div class="middle-container">

      {{ $sections := slice }}

      {{ range .Sections }}
        {{ $weight := .Params.weight | default 1 }}
        {{ $sections = $sections | append (dict "section" . "weight" $weight) }}
      {{ end }}

      <ul>
        {{ range sort $sections "weight" }}
        {{ $section := .section }}
        <li>
          <h2>{{ $section.Title }}</h2>
          {{ partial "things-cards.html" (dict "pages" $section.Pages) }}
        </li>
        {{ end }}
      </ul>

    </div>

    <aside class="sidebar-right">
    </aside>

  </div>

{{ end }}
