<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ if .IsPage }}
      <div class="header-reading" aria-hidden="true">
        <div class="wrapper">
          <div class="header-reading-content">
            <span class="header-reading-title">{{ .Title }}</span>
            <button class="sidebar-toggle sidebar-toggle-reading" data-target="right" type="button" aria-label="Open table of contents" aria-expanded="false">
              {{ partial "utils/icon.html" "list-tree" }}
            </button>
          </div>
        </div>
      </div>
    {{ end }}
    {{ block "main" . }}{{ end }}
  </main>
  <div class="sidebar-overlay"></div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
