<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    <div class="header-top">
      <div class="wrapper">
        {{ partial "header.html" . }}
      </div>
    </div>
    <div class="header-nav" id="siteNav">
      <div class="wrapper">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
      </div>
    </div>
  </header>
  <main>
    <div class="wrapper">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  <footer>
    <div class="wrapper">
      {{ partial "footer.html" . }}
    </div>
  </footer>
</body>
</html>
