<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    {{- if and (not .IsHome) (not .Params.hide_breadcrumbs) -}}
      <div class="wrapper">
        {{ partial "breadcrumbs.html" . }}
      </div>
    {{- end -}}
    {{ block "main" . }}{{ end }}
  </main>
  <div class="overlay"></div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
