{{ define "main" }}

  <div class="wrapper">

    <div class="middle-container">

      <section class="profile">

        <div class="profile-header">

          <img class="avatar avatar-large" src="{{ .Site.Params.profile.avatar }}" alt="avatar">

          <div class="profile-info">

            <span class="profile-name">
              {{ .Site.Params.profile.name }}
            </span>

            <span class="profile-tagline">
              {{ .Site.Params.profile.tagline }}
            </span>

            <ul class="social">
              {{ range site.Params.social }}
                <li>
                  <a href="{{ .url }}" target="_blank" aria-label="{{ .name }}" title="{{ .name }}">{{ partial "utils/icon.html" .icon }}</a>
                </li>
              {{ end }}
            </ul>

          </div>

        </div>

        <div class="profile-content">
          {{ .Content }}
        </div>

      </section>

    </div>

  </div>

{{ end }}
