{{ define "main" }}

  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}

  <div class="wrapper two-column-layout">

    <div class="primary-area">

      <section class="profile">

        <div class="profile-header">

          {{ with resources.Get site.Params.profile.avatar }}
            {{ $image := .Fill "200x200 center" }}
            <div class="profile-avatar">
              <img src="{{$image.RelPermalink }}" alt="avatar">
            </div>
          {{ end }}

          <div class="profile-info">

            <span class="profile-name">
              {{ .Site.Params.profile.name }}
            </span>

            <span class="profile-tagline">
              {{ .Site.Params.profile.tagline }}
            </span>

            <ul class="social-list">
              {{ range site.Params.profile.social }}
                <li>
                  <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" aria-label="{{ .name }}" title="{{ .name }}">{{ partial "utils/icon.html" .icon }}</a>
                </li>
              {{ end }}
            </ul>

          </div>

        </div>

        <div class="profile-content">
          {{ .Content }}
        </div>

      </section>

      <section class="recent-updates">
        <h2>最近更新</h2>
        <div class="cards-grid updates-card">

          {{ $sections := slice "posts" "docs" "ephemera" }}

          {{ $updatePeriod := .Params.recentUpdateMonths | default 3 }}
          {{ $updateSince := now.AddDate 0 (mul $updatePeriod -1) 0 }}

          {{ range $sections }}

            {{ with $.Site.GetPage (printf "/%s" .) }}

              <h3 class="update-tag">{{ .Title }}</h3>

              {{ $recentPages := where .RegularPages "Lastmod" "ge" $updateSince }}
              {{ $sortedPages := $recentPages.ByLastmod.Reverse | first 3 }}

              {{ if $sortedPages }}
                  {{ range $sortedPages }}
                    <a href="{{ .RelPermalink }}" class="update-card">
                      <div class="card-header">
                        <time class="update-date" datetime="{{ .Lastmod.Format "2006-01-02" }}">
                          {{ .Lastmod.Format "2006-01-02" }}
                        </time>
                      </div>
                      <h3 class="card-title">{{ .Title }}</h3>
                      <p class="card-summary">
                        {{ .Summary | plainify | truncate 90 }}
                      </p>
                    </a>
                  {{ end }}
              {{ else }}
                <p>最近{{ $updatePeriod }}个月没有更新</p>
              {{ end }}

            {{ end }}

          {{ end }}
        </div>
      </section>

    </div>

    <div class="secondary-area">
      {{ with .Params.status.music }}
        {{ partial "netease-music-latest.html" . }}
      {{ end }}

      <a href="https://analog.jiayong.org" target="_blank" rel="noopener noreferrer">Analog stats</a>
    </div>

  </div>

{{ end }}
