<div class="things-scroll">

{{ range sort .Pages "Params.start" "desc" }}

  <a class="thing-item" href="{{ .RelPermalink }}">

    <div class="thing-image">
      {{ with .Resources.GetMatch .Params.image }}
        {{ $img := .Resize "200x webp q80" }}
        <img src="{{ $img.RelPermalink }}" alt="{{ $.Title }}">
      {{ end }}
    </div>

    <div class="thing-info">
      <strong>{{ .Title }}</strong>
      {{ $start := "" }}
      {{ $end := "" }}

      {{ with .Params.start }}
        {{ $start = (time.AsTime (printf "%s-01" .)).Format "2006/01" }}
      {{ end }}

      {{ with .Params.end }}
        {{ $end = (time.AsTime (printf "%s-01" .)).Format "2006/01" }}
      {{ else }}
        {{ $end = "present" }}
      {{ end }}

      <small>
        {{ $start }} - {{ $end }}
      </small>
    </div>

  </a>

{{ end }}

</div>