<div class="things-scroll">

{{ range sort .Pages "Params.start" "desc" }}

  <a class="thing-item" href="{{ .RelPermalink }}">

      <div class="thing-meta">

        {{ $start := "" }}
        {{ $end := "" }}

        {{ with .Params.start }}
          {{ $start = time.AsTime (printf "%s-01" .) | time.Format "2006/01" }}
        {{ end }}

        {{ with .Params.end }}
          {{ $end = time.AsTime (printf "%s-01" .) | time.Format "2006/01" }}
        {{ else }}
          {{ $end = "present" }}
        {{ end }}

        {{ $start }} - {{ $end }}

      </div>

    <div class="thing-image">
      {{ with .Resources.GetMatch .Params.image }}
        {{ $img := .Resize "200x webp q80" }}
        <img src="{{ $img.RelPermalink }}" alt="{{ $.Title }}">
      {{ end }}
    </div>

    <div class="thing-title">
      {{ .Title }}
    </div>

  </a>

{{ end }}

</div>