{{ define "main" }}

  <div class="wrapper analog">

    <div class="three-column-layout">

      <aside class="sidebar" data-position="left"></aside>

      <div class="primary-area">

        <article>



        </article>

      </div>

      <aside class="sidebar" data-position="right">
        <h1>{{ .Title }}</h1>
        
        <ul class="exif-info">
          <li><strong>胶卷：</strong>{{ .Params.film }}</li>
          <li><strong>相机：</strong>{{ .Params.camera }}</li>
        </ul>

        {{ with .Params.note }}
          Note:
          <p class="note">{{ . }}</p>
        {{ end }}
      </aside>

    </div>

  </div>

{{ end }}
